.about {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding-top: 100px;
}
h2 {
    padding-bottom: 30px;
}
.aboutText {
    line-height: 1em;
}