
.itemSlot {
  border: solid;
  width: 25%;
  vertical-align: baseline;
  background-color: #ffffff
}

.dropSlot {
  border: solid;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

