
.itemSlot {
  border: solid;
  width: 25%;
  vertical-align: baseline !important;
}

.dropSlot {
  border: solid;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
