.UI {
  vertical-align: middle;
  padding-left: 20px;
}
.inputFields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
  max-width: 50px;
}

.labels {
  background-color: #ffffff;
  font-weight: bold;
  text-align: center
}

input {
  max-width: 50px;
}