.displaySection {
  width: 500px;
  /* needed for ellipsis to have a limit */
}

.itemSlot {
  border: solid;
  width: 25%;
  vertical-align: baseline;
  background-color: #ffffff;
}

.dropSlot {
  border: solid;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.dropSlotContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
